<?xml version="1.0" ?>
<robot name="table">
  <link name="table">
    <visual>
      <geometry>
        <box size="0.3 1.2 0.2"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 1.2 0.2"/>
      </geometry>
    </collision>
  </link>
</robot>
